@font-face {
    font-family: 'distant-galaxy';
    src: url('../fonts/sf-distant-galaxy/TrueType/SFDistantGalaxy.ttf');
}

@font-face {
    font-family: 'distant-galaxy-alternate';
    src: url('../fonts/sf-distant-galaxy/TrueType/SFDistantGalaxyAlternate.ttf');
}

@font-face {
    font-family: 'distant-galaxy-alt-outline';
    src: url('../fonts/sf-distant-galaxy/TrueType/SFDistantGalaxyAltOutline.ttf');
}

body {
    background: url('../images/hoth-background-min.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.character-box {
    padding: 15px;
    border: 2px solid black;
    display: inline;
    text-align: center;
    background-color: #fff;
}
   
div.character-box img.character-picture {
    display: block;
    margin: auto;
}

div.character-box.initialState {
    background-color: white;
}

div.character-box.available-enemy {
    background-color: red;

}

div.character-box.defender {
    background-color: #A9A9A9;
}

.invisible {
    display: none;
}

.star-wars-text {
    font-family: 'distant-galaxy';
}

.star-wars-text-alt {
    font-family: 'distant-galaxy-alt';
}

.star-wars-text-alt-outline {
    font-family: 'distant-galaxy-alt-outline'
}