body {
    background: url('../images/hoth_background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.character-box {
    padding: 15px;
    border: 2px solid black;
    display: inline;
    text-align: center;
    background-color: #fff;
}
   
div.character-box img.character-picture {
    display: block;
    margin: auto;
}

div.character-box.unselected {
    background-color: white;
}

div.character-box.available-enemy {
    background-color: red;
}

div.character-box.defender {
    background-color: #A9A9A9;
}

.invisible {
    display: none;
}